<div style="height: fit-content; display: flex; justify-content: center;">
    <div style="z-index: 999; position: absolute;">
        <div style="display: flex; max-width: 1100px;">
            <div style="width: 50%;">
                <div style="height: 100%; padding: 0 15% 0 15%; display: flex; align-items: center;">
                    <div style="height: fit-content; width: 100%; ">
                        <h3>{{ section.settings.title }}</h3>
                        {{ section.settings.article }}
                                            
                        {% if section.settings.article_frase != blank  %}
                            {{ section.settings.article_frase }}
                        {% endif %}
                            
                        {% if section.settings.button_label_text != blank and section.settings.button_linkD != blank %}
                            <div style="margin-top: 2em;">
                                <a href="{{ section.settings.button_linkD }}" class="main-button">
                                {{ section.settings.button_label_text }}
                                </a> 
                            </div>
                        {% endif %}    
                    </div>
                </div>
            </div>
            <div style="width: 50%; display:flex; justify-content: center;">
                <img style="width: 75%;" src="{{ section.settings.big_image | img_url: 'master' }}">
            </div>
        </div>
        <div>
            <img src="{{ section.settings.background | img_url: 'master' }}">
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Big image with text",
        "class": "big-image-text",
        "settings": [
            {
               "type": "image_picker",
               "id": "big_image",
               "label": "image"
            },
            {
              "type": "image_picker",
              "id": "background",
              "label": "background"
            },
            {
                "type": "text",
                "id": "title",
                "label": "title",
                "default": "title of article"
            },
            {
                "type": "richtext",
                "id": "article",
                "label": "article",
                "default": "<p>content of your article</p>"
            },
            {
                "type": "richtext",
                "id": "article_frase",
                "label": "more optional text",
                "default": "<p>say something else</p>"
            },
            {
                "type": "text",
                "id": "button_label_text",
                "label": "Button label"
            },
            {
                "type": "url",
                "id": "button_linkD",
                "label": "Button link"
            }
        ],
       "presets": [
            {
                "category": "presentation",
                "name":"Bigger image with text"
            }
        ]
    }
{% endschema %}