<div class="w-100 section-margin">
    <div class="w-100; ebook-title-padding">
        <h2 style="font-size: 36px; color:#361E45; text-align: center;">{{ section.settings.blog_header }}</h2>
    </div>
    <p style="position: relative; z-index:999; top:150px">
        <span style="right:95%;" class="blog-arrow">&#139;</span>
        <span style="left:95%;" class="blog-arrow">&#155;</span>
    </p>
    <div class="w-100; flex-center">
        <section style="width: fit-content; height: fit-content;">
            {% for block in section.blocks %}
                {% if block.settings.width %}
                    <div style="min-width: fit-content; max-height: 378px;" class="blog">
                        <picture class="picture-padding blog-picture-wider">
                            <img src="{{ block.settings.blog_image | img_url: 'master' }}" alt="blog">
                        </picture>
                        <div class=" post-fit-image h-100">
                            <div class="post-info picture-padding">
                                {{ block.settings.blog_title }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div style="min-width: fit-content; max-height: 378px;" class="blog">
                        <picture class="picture-padding blog-picture-tiny">
                            <img src="{{ block.settings.blog_image | img_url: 'master' }}" alt="blog">
                        </picture>
                        <div class=" post-fit-image h-100">
                            <div class="post-info picture-padding">
                                {{ block.settings.blog_title }}
                            </div>
                        </div>
                    </div>                            
                {% endif %}
            {% endfor %}
        </section>
    </div> 
</div>
{% schema %}
    {
        "name": "Blog Slider",
        "class": "Blog-slider",
        "settings": [
            {
                "type": "text",
                "id": "blog_header",
                "label":"blog header",
                "default": "title"
            }
        ],
        "blocks": [
            {
                "type": "text",
                "name": "big post",
                "settings": [
                    {
                       "type": "image_picker",
                       "id": "blog_image",
                       "label": "blog image"
                    },
                    {
                       "type": "textarea",
                       "id": "blog_title",
                       "label": "blog title",
                      "default": "<p class='post-text blog-post-title'>loren ipsum</p>"
                    },
                    {
                        "type": "checkbox",
                        "id": "width",
                        "label": "wider blog item",
                        "default": false
                    }

                ]
            }
        ],
       "presets": [
            {
                "category": "blogs",
                "name":"blogs galery"
            }
       ]
    }
{% endschema %}