<div class="margin-slider-logo-section">
    <div class="static-logo-containe">
        <div class="flex-center">
            <div class="static-logo-dimensions">
                <img src="{{ section.settings.logo1 | img_url: 'master' }}">
                <div class="cien flex-center" style="height:fit-content;">
                    <p>{{ section.settings.logo1_text }}</p>
                </div>
            </div>
            <div class="static-logo-dimensions">
                <img src="{{ section.settings.logo2 | img_url: 'master' }}">
                <div class="cien flex-center" style="height:fit-content;">
                    <p>{{ section.settings.logo2_text }}</p>
                </div>
            </div>
            <div class="static-logo-dimensions">
                <img src="{{ section.settings.logo3 | img_url: 'master' }}">
                <div class="cien flex-center" style="height:fit-content;">
                    <p>{{ section.settings.logo3_text }}</p>
                </div>
            </div>
            {% if section.settings.logo_image8 != blank %}
                <div class="static-logo-dimensions">
                    <img src="{{ section.settings.logo4 | img_url: 'master' }}">
                    <div class="cien flex-center" style="height:fit-content;">
                        <p>{{ section.settings.logo4_text }}</p>
                    </div>
                </div>
            {% endif %}
            {% if section.settings.logo_image8 != blank %}
                <div class="static-logo-dimensions">
                    <img src="{{ section.settings.logo5 | img_url: 'master' }}">
                    <div class="cien flex-center" style="height:fit-content;">
                        <p>{{ section.settings.logo5_text }}</p>
                    </div>
                </div>
            {% endif %}
            {% if section.settings.logo_image8 != blank %}
                <div class="static-logo-dimensions">
                    <img src="{{ section.settings.logo6 | img_url: 'master' }}">
                    <div class="cien flex-center" style="height:fit-content;">
                        <p>{{ section.settings.logo6_text }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Static logos",
        "class": "static-logo-gallery",
        "settings": [
            {
                "type": "image_picker",
                "id": "logo1",
                "label": "Logo image"        
            },
            {
                "type": "text",
                "id": "logo1_text",
                "label": "logo text",
                "default": "First logo text"
            },
            {
                "type": "image_picker",
                "id": "logo2",
                "label": "Logo image"
            },
            {
                "type": "text",
                "id": "logo2_text",
                "label": "logo text",
                "default": "Second logo text"
            },
            {
                "type": "image_picker",
                "id": "logo3",
                "label": "Logo image"
            },
            {
                "type": "text",
                "id": "logo3_text",
                "label": "logo text",
                "default": "Third logo text"
            },
            {
                "type": "image_picker",
                "id": "logo4",
                "label": "Logo image"
            },
            {

                "type": "text",
                "id": "logo4_text",
                "label": "logo text",
                "default": "fourth logo text"
            },
            {
                "type": "image_picker",
                "id": "logo5",
                "label": "Logo image"
            },
            {
                "type": "text",
                "id": "logo5_text",
                "label": "logo text",
                "default": "fifth logo text"
            },
            {
                "type": "image_picker",
                "id": "logo6",
                "label": "Logo image"
            },
            {
                "type": "text",
                "id": "logo6_text",
                "label": "logo text",
                "default": "sixth logo text"
            }
        ],
        "presets": [
            {
                "category": "static galery",
                "name":"Static logo galery"
            }
       ]
    }
{% endschema %}