<div class="container">
    <div class="h5">Circular carousel (infinite)</div>
        <div class="carousel">
            <div class="slider">
                <div class="item-container">
                    <img src="{{ section.settings.logo_image | img_url: 'master' }}" alt="">
                </div>
                <div class="item-container">
                    <img src="{{ section.settings.logo_image | img_url: 'master' }}" alt="">
                </div>
                <div class="item-container">
                    <img src="{{ section.settings.logo_image | img_url: 'master' }}" alt="">
                </div>
                <div class="item-container">
                    <img src="{{ section.settings.logo_image | img_url: 'master' }}" alt="">
                </div>
                <div class="item-container">
                    <img src="{{ section.settings.logo_image | img_url: 'master' }}" alt="">
                </div>
                <div class="item-container">
                    <img src="{{ section.settings.logo_image | img_url: 'master' }}" alt="">
                </div>
            </div>
            <div class="controls">
                <button class="next"><i class="fa-solid fa-chevron-right"></i></button>
                <button class="prev"><i class="fa-solid fa-chevron-left"></i></button>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Slider",
        "class": "infinite-slider",
        "settings": [
            {
                "type": "text",
                "id": "item_title",
                "label": "item slider",
                "default": "este es un item"
            },
            {
               "type": "image_picker",
               "id": "logo_image1",
               "label": "logo 1"
            },
            {
                "type": "image_picker",
                "id": "logo_image2",
                "label": "logo 2"
             },
             {
                "type": "image_picker",
                "id": "logo_image3",
                "label": "logo 3"
             },
             {
                "type": "image_picker",
                "id": "logo_image4",
                "label": "logo 4"
             },
             {
                "type": "image_picker",
                "id": "logo_image5",
                "label": "logo 5"
             },
             {
                "type": "image_picker",
                "id": "logo_image6",
                "label": "logo 6"
             },
             {
                "type": "image_picker",
                "id": "logo_image7",
                "label": "logo 7"
             },
             {
                "type": "image_picker",
                "id": "logo_image8",
                "label": "logo 8"
             },
        ],
       "presets": [
            {
                "category": "Slider",
                "name":"Infinite Slider"
            }
       ]
    }
{% endschema %}