{% if shop.customer_accounts_enabled %}
  {% if customer %}
    <a href="/account">account</a>
    {{ 'log out'  | customer_logout_link }}
  {% else %}
    {{ 'log in ' | customer_login_link }}
    {{ 'register' | customer_register_link }}
  {% endif %}
{% endif %}
<div class="pinkbar">
    <div class="pinkbarcontent">
        <div class="grid">
          <div class="orderinfo">
            <span class="mdi mdi-phone iconset"></span><a href="#" class="contact-links">{{ section.settings.phone_number }}</a>
          </div>
          <div class="orderinfo">
            <span class="mdi mdi-email-outline iconset"></span><a href="#" class="contact-links">{{ section.settings.email_address }}</a>
          </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light navbar-position" >
    <div class="container-fluid" style="margin: 0 3em;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div style="width: 90px; height:90px;">
        <img src="{{ section.settings.image | img_url: 'master' }}" alt="">
      </div>
      <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: center;">
        <ul class="navbar-nav">
          {% for link in linklists.main-menu.links %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
              <li class="nav-item">
                <a class="navbar-config" href="{{ link.url }}">{{ link.title }}</a>
              </li>
              [{% for childlink in linklists[child_list_handle].links %}
                <li class="nav-item">
                  <a class="navbar-config" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}]
            {% else %}
              <li class="nav-item">
                <a class="navbar-config" href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="mdi mdi-account-outline icon-size"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="mdi mdi-cart-outline icon-size"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="mdi mdi-account-outline icon-size"></span><span style="padding: 0 0.5em;">Login</span></a>
          </li>
        </ul>
      </div>
    </div>
</nav>

{% schema %}
  {
    "name": "New Header",
    "class": "new-header-np",
    "settings": [
      {
        "type": "link_list",
        "id": "main_menu_link_list",
        "label": "Navigation",
        "default": "main-menu"
      },
      {
        "type": "text",
        "id": "email_address",
        "label": "Email address",
        "default": "example@example.com"
      },
      {
        "type": "text",
        "id": "phone_number",
        "label": "Phone Number",
        "default": "+1 470-123-4567"
      },
      {
      "type": "image_picker",
        "id": "logo_page",
        "label": "Logo"
      }
    ]
  }
{% endschema %}