<div style="height: 300px; background-color: #F8F8F8; position: relative; z-index: 999;" class="w-100">
    <div class="py-5 px-5 flex-center">
        {% for block in section.blocks %}
            <div class="w-100">
                <div class="py-5 px-4 w-100">
                    <p class="title">{{ block.settings.title }}</p>
                    <br>
                    <div class="py-5">
                        {{ block.settings.text }}
                        <br>
                        {{ block.settings.text1 }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div style="height: 15vw; margin: 20px 0px 0px; padding: 0 30px;" class="w-100">
        <div class="w-100 flex-center">
            <ul>
                <li class="list-item-footer footer-links-border"><a href="#">Privacy Policity</a></li>
                <li class="list-item-footer footer-links-border"><a href="#">Site Map</a></li>
                <li class="list-item-footer footer-links-border"><a href="#">Terms & Conditions</a></li>
                <li class="list-item-footer"><a href="#">Do not sell my personal information</a></li>
            </ul>
            <div class="flex-center w-100 px-4 mt-3">
                <img src="{{ section.settings.payments | img_url: 'master' }}" alt="payments">
            </div>
        </div>
    </div>
</div>

{{ 'slider.js' | asset_url | script_tag }}
{{ 'collection-carousel.js' | asset_url | script_tag }}

{% schema %}
    {
        "name": "new footer",
       "settings": [
           {
                "type": "range",
                "id": "col_num",
                "default": 3,
                "min": 2,
                "max": 4,
                "label": "Number of columns"
            },
            {
               "type": "image_picker",
               "id": "payments",
               "label": "payments image"
            }
       ],
        "blocks": [
            {
                "type": "text",
                "name": "navigator",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Description"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "text",
                        "default": "<p>some information</p>"
                    },
                    {
                        "type": "richtext",
                        "id": "text1",
                        "label": "text1",
                        "default": "<p>some information 2</p>"
                    }
                ]
            }
        ]
    }
{% endschema %}