<div style="background-color: #F8F8F8; position: relative; z-index: 999;" class="w-100">
    <div class="w-100">
        <div class="flex-center">
            <div class="w-100 max-width-1350">
                <div style="display: grid;" class="py-5 px-5 max-width-1350 colums-{{ section.settings.col_num }}">
                    {% for block in section.blocks %}
                        <div class="block-width-{{ block.settings.width }}">
                            <div style="padding: 10px 0 0;" class="px-4 w-100">
                                <p class="title dieciseis">{{ block.settings.title }}</p>
                                <br>
                                <div style="padding: 0 12% 0 0" class="py-1">
                                    {{ block.settings.text }}
                                    <br>
                                    {{ block.settings.text1 }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div style="height: 10vw; margin: 20px 0px 0px; padding: 0 30px;" class="w-100">
                    <div class="w-100 flex-center">
                        <ul>
                            <li class="list-item-footer footer-links-border"><a class="catorce text-underline-none" href="#">Privacy Policity</a></li>
                            <li class="list-item-footer footer-links-border"><a class="catorce text-underline-none" href="#">Site Map</a></li>
                            <li class="list-item-footer footer-links-border"><a class="catorce text-underline-none" href="#">Terms & Conditions</a></li>
                            <li class="list-item-footer"><a class="catorce text-underline-none" href="#">Do not sell my personal information</a></li>
                        </ul>
                    </div>
                    <div class="flex-center w-100 px-4 mt-3">
                        <img src="{{ section.settings.payments | img_url: 'master' }}" alt="payments">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ 'slider.js' | asset_url | script_tag }}
{{ 'collection-carousel.js' | asset_url | script_tag }}

{% schema %}
    {
        "name": "new footer",
       "settings": [
           {
                "type": "range",
                "id": "col_num",
                "default": 3,
                "min": 2,
                "max": 4,
                "label": "Number of columns"
            },
            {
               "type": "image_picker",
               "id": "payments",
               "label": "payments image"
            }
       ],
        "blocks": [
            {
                "type": "text",
                "name": "navigator",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Description"
                    },
                    {
                        "type": "textarea",
                        "id": "text",
                        "label": "text",
                        "default": "<p class='catorce'>some information</p>"
                    },
                    {
                       "type": "textarea",
                        "id": "text1",
                        "label": "text1",
                        "default": "some information 2"
                    },
                    {
                       "type": "range",
                       "id": "width",
                       "max": 7,
                       "min": 1,
                      "default": 3,
                      "label": "width"
                    }
                ]
            }
        ]
    }
{% endschema %}