<div class="section-margin">
    <div style="margin-bottom: 30px" class="w-100; flex-center">
        <h2 style="font-size: 36px; color:#361E45;">{{ section.settings.title }}</h2>
    </div>
    <p style="position: relative; z-index:999; top:150px">
        <span style="position: absolute; right:95%; font-size: 60px;" class="arrow">&#139;</span>
        <span style="position: absolute; left:95%; font-size: 60px;" class="arrow">&#155;</span>
    </p>
    <section>
        {% for product in collections[section.settings.Programs_available].products %}
            <div class="product">
                <picture>
                    <img src="{{ product.featured_media.preview_image | img_url: 'master' }}" alt="{{ product.title }}">
                </picture>
                <div class="detail">
                    <div style="margin-bottom: 1rem;" class="w-100 flex-center">
                        <img width="16px" height="16px" src="{{ section.settings.star | img_url: 'master' }}" alt="star">
                        <img width="16px" height="16px" src="{{ section.settings.star | img_url: 'master' }}" alt="star">
                        <img width="16px" height="16px" src="{{ section.settings.star | img_url: 'master' }}" alt="star">
                        <img width="16px" height="16px" src="{{ section.settings.star | img_url: 'master' }}" alt="star">
                        <img width="16px" height="16px" src="{{ section.settings.star | img_url: 'master' }}" alt="star">
                    </div>
                    <div class="programs-text-container">
                        <a style="font-weight: lighter; text-decoration: none;" class="source-sans-pro dieciseis" href="{{ product.url }}">{{ product.title }}</a>
                        <p class="source-sans-pro" style="color: #EDC0BD !important;">{{ product.price | money_without_trailing_zeros }}</p>
                    </div>
                </div>
            </div>     
        {% endfor %}
    </section>
</div>
{% schema %}
    {
        "name": "Program slider",
        "class": "Programs",
        "settings": [
            {
                "type": "collection",
                "id": "Programs_available",
                "label": "Programs"
            },
            {
                "type": "text",
                "id": "title",
                "label": "title"
            },
            {
               "type": "image_picker",
               "id": "star",
               "label": "star"
            }
        ],
       "presets": [
            {
                "category": "collection",
                "name":"Programs collection"
            }
       ]
    }
{% endschema %}