<div class="section-margin">
    <div style="margin-bottom: 30px" class="w-100; flex-center">
        <h2 style="font-size: 36px; color:#361E45;">{{ section.settings.title }}</h2>
    </div>
    <p style="position: relative; z-index:999; top:150px">
        <span style="position: absolute; right:95%; font-size: 60px;" class="arrow">&#139;</span>
        <span style="position: absolute; left:95%; font-size: 60px;" class="arrow">&#155;</span>
    </p>
    <section>
        {% for product in collection[section.settings.Programs_available].products %}
            <div class="product">
                <picture>
                    <img src="{{ product.featured_media.preview_image | img_url: 'master' }}" alt="{{ product.title }}">
                </picture>
                <div class="detail">
                    <p class="star">
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                    </p>
                    <p style="text-align: center;">
                        <b>{{ product.title }}</b><br>
                        <samp>{{ product.price | money_without_trailing_zeros }}</samp>
                    </p>
                </div>
            </div>     
        {% endfor %}
        <!-- <div class="product">
            <picture>
                <img src="image/banner1.png" alt="ss">
            </picture>
            <div class="detail">
                <p class="star">
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                </p>
                <p style="text-align: center;">
                    <b>Product Two</b><br>
                    <samp>$45.00</samp>
                </p>
            </div>
    
        </div>
        <div class="product">
            <picture>
                <img src="image/banner3.png" alt="ss">
            </picture>
            <div class="detail">
                <p class="star">
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                </p>
                <p style="text-align: center;">
                    <b>Product Three</b><br>
                    <samp>$45.00</samp>
                </p>
            </div>
    
        </div>
        <div class="product">
            <picture>
                <img src="image/banner4.png" alt="ss">
            </picture>
            <div class="detail">
                <p class="star">
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                    <strong>&star;</strong>
                </p>
                <p style="text-align: center;">
                    <b>Product Four</b><br>
                    <samp>$45.00</samp>
                </p>
            </div>
    
        </div>
        <div class="product">
            <picture>
                <img src="image/watch.png" alt="ss">
            </picture>
            <div class="detail">
                    <p class="star">
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                    </p>
                <p style="text-align: center;">
                    <b>Product Five</b><br>
                    <samp>$45.00</samp>
                </p>
            </div>
    
        </div>
        <div class="product">
            <picture>
                <img src="image/delta.png" alt="ss">
            </picture>
            <div class="detail">
                    <p class="star">
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                    </p>
                <p style="text-align: center;">
                    <b>Product Six</b><br>
                    <samp>$45.00</samp>
                </p>
            </div>
    
        </div>
        <div class="product">
            <picture>
                <img src="image/image3.png" alt="ss">
            </picture>
            <div class="detail">
                    <p class="star">
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                    </p>
                <p style="text-align: center;">
                    <b>Product Seven</b><br>
                    <samp>$45.00</samp>
                </p>
            </div>
    
        </div>
        <div class="product">
            <picture>
                <img src="image/image2.png" alt="ss">
            </picture>
            <div class="detail">
                    <p class="star">
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                        <strong>&star;</strong>
                    </p>
                <p style="text-align: center;">
                    <b>Product Eight</b><br>
                    <samp>$45.00</samp>
                </p>
            </div>
    
        </div>
        <div class="product">
            <picture>
                <img src="image/nokia.png" alt="ss">
            </picture>
            <div class="detail">
            <p class="star">
                <strong>&star;</strong>
                <strong>&star;</strong>
                <strong>&star;</strong>
                <strong>&star;</strong>
                <strong>&star;</strong>
            </p>
                <p style="text-align: center;">
                    <b>Product Nine</b><br>
                    <samp>$45.00</samp>
                </p>
            </div>
    
        </div>
        <div class="product">
            <picture>
                <img src="image/nokia-air.png" alt="ss">
            </picture>
            <div class="detail">
            <p class="star">
                <strong>&star;</strong>
                <strong>&star;</strong>
                <strong>&star;</strong>
                <strong>&star;</strong>
                <strong>&star;</strong>
            </p>
                <p style="text-align: center;">
                    <b>Product Ten</b><br>
                    <samp>$45.00</samp>
                </p>
            </div>
    
        </div>
        <div class="product">
            <picture>
                <img src="image/feature_3.png" alt="ss">
            </picture>
            <div class="detail">
            <p class="star">
                <strong>&star;</strong>
                <strong>&star;</strong>
                <strong>&star;</strong>
                <strong>&star;</strong>
                <strong>&star;</strong>
            </p>
                <p style="text-align: center;">
                    <b>Product Eleven</b><br>
                    <samp>$45.00</samp>
                </p>
            </div>
    
        </div>
        <div class="product">
            <picture>
                <img src="image/one.png" alt="ss">
            </picture>
            <div class="detail">
            <p class="star">
                <strong>&star;</strong>
                <strong>&star;</strong>
                <strong>&star;</strong>
                <strong>&star;</strong>
                <strong>&star;</strong>
            </p>
                <p style="text-align: center;">
                    <b>Product Twelve</b><br>
                    <samp>$45.00</samp>
                </p>
            </div>
    
        </div> -->
    </section>
</div>
{% schema %}
    {
        "name": "Program slider",
        "class": "Programs",
        "settings": [
            {
                "type": "collection",
                "id": "Programs_available",
                "label": "Programs"
            },
            {
                "type": "text",
                "id": "title",
                "label": "title"
            }
        ],
       "presets": [
            {
                "category": "collection",
                "name":"Programs collection"
            }
       ]
    }
{% endschema %}