<!-- <div class="margin-slider-logo-section">
    <h5 class="flex-center" style="margin: 50px 0; text-transform: capitalize !important">Our Programs</h5>
        <div class="carousel" style="height: fit-content !important; margin-left: 30px;">
            <div class="slider" style="justify-content: space-around">
                {% for product in collections[section.settings.Programs_available].products %}
                    <div style="width: 30%; height:auto">
                        <div style="width: 100%; height: fit-content; margin-bottom: 10px;">
                            <img src="{{ product.featured_media.preview_image | image_url }}">
                        </div>
                        <div style="width: 60%; margin-top: 15px; display: flex; justify-content: center;">
                            <p style="text-align: center;">{{ product.title }}</p>
                            <p style="text-align:center">{{ product.price | money_without_trailing_zeros }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="controls">
                <button class="next"><i class="fa-solid fa-chevron-right"></i></button>
                <button class="prev"><i class="fa-solid fa-chevron-left"></i></button>
            </div>
        </div>
    </div>
</div> -->

<div style="display: flex; justify-content:left; overflow-x:auto; width: 100%;">
    {% for product in collections[section.settings.Programs_available].products %}
        <div style="width: 300px; height:auto;">
            <div style="width: 100%; height: fit-content; margin-bottom: 10px;">
                <img src="{{ product.featured_media.preview_image | image_url }}">
            </div>
            <div style="width: 60%; margin-top: 15px; display: flex; justify-content: center;">
                <p style="text-align: center;">{{ product.title }}</p>
                <p style="text-align:center">{{ product.price | money_without_trailing_zeros }}</p>
            </div>
        </div>
    {% endfor %}
</div>

{% schema %}
    {
        "name": "Program slider",
        "class": "Programs",
        "settings": [
            {
            "type": "collection",
            "id": "Programs_available",
            "label": "Programs"
            },
            {
            "type": "text",
            "id": "title",
            "label": "title"
            }
        ],
       "presets": [
            {
                "category": "collection",
                "name":"Specific collection"
            }
       ]
    }
{% endschema %}